{% extends '@Sepulture/base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Authentification</div>
                </div>

                <div style="padding-top:30px" class="panel-body">
                    {% if error %}
                        <div id="login-alert" class="alert alert-danger col-sm-12">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form method="post" class="form-horizontal" role="form">

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="far fa-user"></i></span>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" placeholder="Votre email" required autofocus>
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user-lock"></i></span>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="mot de passe" required>
                        </div>

                        <input id="login-remember" type="hidden" name="remember" value="1">

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">

                                <input type="submit" class="btn btn-success btn-block" id="_submit" name="_submit"
                                       value="Me connecter"/>

                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </form>

                    <br/><a href="{{ path('sepulture_password_lost') }}">Mot de passe perdu ?</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
