{% extends '@Sepulture/base.html.twig' %}

{% block body -%}

    <div class="card"><h3 class="card-header">Liste des apects légaux</h3>
        <div class="card-body">

    {% if is_granted('ROLE_SEPULTURE_ADMIN') %}
                <a href="{{ path('legal_new') }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i> Ajouter un aspect légal
                </a> <br/><br/>
    {% endif %}

    <table class="table table-bordered table-hover table-responsive">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nombre de sépultures</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('legal_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                <td>{{ entity.sepultures|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div></div>
{% endblock %}
