 {% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>{{ entity }}</h3>
    </div>

{% include '@Sepulture/legal/actions.html.twig'  %}

{% include '@Sepulture/cimetiere/sepultures.html.twig' with {'sepultures': entity.sepultures } %}

{% include '@Sepulture/legal/delete.html.twig' %}

{% endblock %}
