{% if is_granted('ROLE_SEPULTURE_ADMIN') %}
    <a href="{{ path('visuel_edit', { 'id': entity.id }) }}" role="button" class="btn btn-primary"><i
                class="ti ti-pencil"></i> Editer</a>

    <a href="{{ path('visuel') }}" class="btn btn-primary" role='button'><i
                class="ti ti-list"></i> Retour à la Liste</a>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        <i class="ti ti-trash"></i> Supprimer
    </button>
{% endif %}
