{% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="card"><h3 class="card-header">Nouvel aspect visuel</h3>
        <div class="card-body">

    <div class="row">
        <div class="col-lg-8">
            {{ form(form) }}
        </div>
    </div>

    <a href="{{ path('visuel') }}">
        <span class="glyphicon glyphicon-list"></span> Annuler et retour à la liste
    </a>
</div></div>

{% endblock %}

