{% if is_granted('ROLE_SEPULTURE_EDITEUR') %}
    <div class="hidden-print">
        <a href="{{ path('sepulture_show', { 'slug': entity.sepulture.slug }) }}" role="button"
           class="btn btn-primary"><i class="ti ti-list"></i> Retour à la sépulture</a>

        <a href="{{ path('defunt_edit', { 'id': entity.id }) }}" role="button"
           class="btn btn-primary"><i class="ti ti-pencil"></i> Editer</a>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            <i class="ti ti-trash"></i> Supprimer
        </button>
    </div>
{% endif %}
