{% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Nouveau défunt pour la sépulture <strong>{{ sepulture.parcelle }}</strong></h3>
    </div>

    {% include '@Sepulture/defunt/form.html.twig' %}

    <a href="{{ path('sepulture_show', { 'slug': entity.sepulture.slug }) }}">
        <span class="glyphicon glyphicon-list"></span> Annuler et retour à la sépulture
    </a>

{% endblock %}
