{% extends '@Sepulture/base.html.twig' %}
{% block body %}

    <div class="card">
        <h3 class="card-header">{{ page.titre }}</h3>
        <div class="card-body">
            {% if is_granted('ROLE_SEPULTURE_ADMIN') %}
                <a href="{{ path('page_edit', {'id':page.id}) }}" class="btn btn-primary"><span
                            class="fas fa-edit"></span> Editer </a>
            {% endif %}

            <div class="row">
                <div class="col-lg-6 text-justify">
                    {{ page.contenu | raw }}
                </div>
                <div class="col-lg-6">
                    {% if page.imageName %}
                        <img src="{{ page.imageName | acmarche_sepulture_download_cimetiere }}"
                             alt="img" class="img-thumbnail"/>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
