<div id="lightgallery" data-controller="gallery">
    {% for image in images %}
        <a href="{{ image.url | imagine_filter('acmarche_sepulture_zoom_thumb') }}" title="{{ image.name }}" class="me-2">
            <img src="{{ image.url | imagine_filter('acmarche_sepulture_edit_thumb') }}" alt="img" class="mb-2 ">
        </a>
    {% endfor %}
</div>
