{% extends '@Sepulture/base.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h3>Liste des sépultures inhumées avant 1945 dans "{{ cimetiere }}"</h3>
    </div>

    {% include '@Sepulture/sepulture/_list_sepultures.html.twig' %}
{% endblock %}
