{% extends '@Sepulture/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sepulture/blueimp/css/blueimp-gallery.min.css') }}">
{% endblock %}

{% block body %}

    {% include '@Sepulture/sepulture/fixe.html.twig' %}

    <div class="page-header" style="margin-top: 120px;">
        <h3>Edition de la sépulture <b>{{ entity.parcelle }}</b></h3>
    </div>

    {% include '@Sepulture/sepulture/form.html.twig' with {'form' : edit_form} %}

    <br/>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/sepulture/blueimp/js/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('bundles/sepulture/js/gallery.js') }}"></script>
{% endblock %}
