{% include '@Sepulture/sepulture/gallery_controls.html.twig' %}

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-top: 52px; max-height: 250px;">
    <div class="container">
        {% include '@Sepulture/sepulture/images.html.twig' %}
    </div>
</div>
