{% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="card"><h3 class="card-header">Nouvelle sépulture</h3>
        <div class="card-body">

            <h4 class="panel-title">Les étapes</h4>

            <ol>
                <li>Ajout du nom de la parcelle</li>
                <li>Ajout des images</li>
                <li>Ajout des informations</li>
            </ol>

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <input type="submit" name="search" value="Ajouter" class="btn btn-primary my-1 mr-sm-2">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
