{% extends '@Sepulture/base.html.twig' %}

{% block body -%}
    <div class="card"><h3 class="card-header">Liste des sépultures à Intérêt Historique Locale dans "{{ cimetiere }}"</h3>
        <div class="card-body">

    {% include '@Sepulture/sepulture/_list_sepultures.html.twig' %}

</div></div>
{% endblock %}
