{% for animal in animals %}
    <button type="button" class="animal border-0" data-url="{{ animal }}">
        <img src="{{ animal }}" rel="nofollow" alt="animal" style="width: 180px;" >
    </button>
{% endfor %}
