{% for animal in animals %}
    <button type="button" class="animal" data-url="{{ animal }}">
        <img src="{{ animal }}" rel="nofollow" alt="animal" style="width: 120px;" >
    </button>
{% endfor %}
