{% extends '@Sepulture/base.html.twig' %}

{% block body %}
    <div class="card"><h3 class="card-header">Nouveau mot de passe pour {{ user }}</h3>
        <div class="card-body">

    <div class="row">
        <div class="col-lg-4">

            {{ form(form) }}

        </div>
    </div>

    <a href="{{ path('user_index')}}">
        <span class="fas fa-list" aria-hidden="true"></span> Annuler et retour
    </a>

</div></div>
{% endblock %}
