<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm border-bottom">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="fa fa-cross d-inline-block align-text-top"></i>
            <span class="ms-2 fs-4 navbar-text">Cimetière - sépultures</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           {% include '@Sepulture/_menu.html.twig' %}
        </div>
    </div>
</nav>
