<!doctype html>
<html lang="fr" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Cimetière - sépultures - {{ sepulture_ville }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/sepulture/favicon.ico') }}"/>
    {% block stylesheets %}{% endblock %}

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

</head>
<body class="d-flex flex-column h-100">
{% set action = app.request.attributes.get("_route") %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <i class="fa fa-trash-alt"></i>
            <span class="fs-4">Cimetière - sépultures</span>
        </a>
        {% include '@Sepulture/_menu.html.twig' %}
    </header>
</div>

<main role="main" class="container pt-3">

    {% include '@AcMarcheSepulture/_flash_messages.html.twig' %}

    {% block notifications %}

    {% endblock %}

    {% block body %}

    {% endblock %}
</main>

{% block footer %}
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted"> {% include '@Sepulture/signature.html.twig' %}</span>
        </div>
    </footer>
{% endblock %}
{% block scripts %}{% endblock %}
{% block javascripts %}{% endblock %}
{% include '@Sepulture/default/google.html.twig' %}
</body>
</html>

