{% extends '@Sepulture/base.html.twig' %}

{% block body -%}

    <div class="card"><h3 class="card-header">{{ entity }}</h3>
        <div class="card-body">

    <div class="row">
        <div class="col-lg-8">
            {{ form(edit_form) }}
        </div>
    </div>
    <br/>

    <a href="{{ path('typesepulture') }}">
        <span class="glyphicon glyphicon-list"></span> Annuler et retour à la liste
    </a>

</div></div>
{% endblock %}


