{% extends '@Sepulture/base.html.twig' %}

{% block title %}
    Une erreur est survenue: {{ status_text }}
{% endblock %}

{% block body -%}
    <div class="card">
        <h3 class="card-header">Oups une erreur est survenue</h3>
        <div class="card-body">

            <h4>Le serveur a retourné : "{{ status_code }} {{ status_text }}".</h4>

            <div>
                Merci de prévenir votre administrateur.
            </div>
        </div>
    </div>
{% endblock %}
