
{% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Confirmation</h3>
    </div>

    Un e-mail a été envoyé. <br />
    Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.<br />
    Remarque : Vous ne pouvez demander un nouveau mot de passe que toutes les 2 heures.
<br /><br />
    Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.
<br /><br />
    <a href="{{ path('home') }}">
        <span class="fas fa-list" aria-hidden="true"></span> Retour à l'accueil
    </a>

{% endblock %}
