{% extends '@Sepulture/base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h3>Nouveau mot de passe</h3>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
